<footer class="default-lr-padding box-sizing">
<!--    <nav>-->
        <div class="btn-icon font-color-light lowerb"><img src="images/btnContrast.svg">KONTRAST</div>
        <div class="btn-icon font-color-light"><img src="images/btnAa.svg">WIELKOŚĆ LITER</div>
        <div class="btn-icon font-color-light"><img src="images/btnMouse.svg">OBSŁUGA GŁOSOWA</div>
        <div class="btn-icon font-color-light long"><img src="images/btnInv.svg">OBSŁUGA</div>
        <div class="btn-icon font-color-light bigiconn"><img src="images/back.svg">COFNIJ</div>
<!--    </nav>-->
</footer>