<div class="row">
    <label class="font-color-light bolds" style="text-align: center;">Numer telefonu:</label>
    <form>
        <input class="inputs" value="_________" pattern="[0-9]" maxlength="9" minlength="9" autofocus/>
<!--        <input class="inputs" placeholder="_" pattern="[0-9]" maxlength="1"/>-->
<!--        <input class="inputs" placeholder="_" pattern="[0-9]" maxlength="1"/>-->
<!--        <input class="inputs" placeholder="_" pattern="[0-9]" maxlength="1"/>-->
<!--        <input class="inputs" placeholder="_" pattern="[0-9]" maxlength="1"/>-->
<!--        <input class="inputs" placeholder="_" pattern="[0-9]" maxlength="1"/>-->
<!--        <input class="inputs" placeholder="_" pattern="[0-9]" maxlength="1"/>-->
<!--        <input class="inputs" placeholder="_" pattern="[0-9]" maxlength="1"/>-->
<!--        <input class="inputs" placeholder="_" pattern="[0-9]" maxlength="1"/>-->
    </form>
<!--    <label><h4 style="margin: 0">Numer telefonu:</h4></label>-->
<!--    <input name="test" value="_________"/>-->
</div>

<!--<input id="tbInput" type="text" maxlength="9" />-->