<nav>
    <ul>
        <p class="font-color-light bolds">Twój list waży</p>
      <li class="bolds">289 g</li>
      <p class="font-color-light bolds">Wybierz jego gabaryt</p>
      <li  class="bolds">Format S - <span class="normals"> koperta C5(22,9x32,4 cm),grubość do 2sm) </span></li>
      <li  class="bolds">Format M - <span class="normals">koperta C4(22,9x32,4 cm),grubość do 2sm)</span></li>
      <li  class="bolds">Format L <span class="normals">(wielkość koperty < 90cm*) </span></li>
      <p class="font-color-light bolds">*długość + szerokość + wysokość < 90cm</p>
      <p class="font-color-light bolds">największy wymiar < 60cm</p>
    </ul>
  </nav>